@model EntitiyLayer.Concrete.Certificate
@{
    ViewData["Title"] = "UpdateCertificate";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<br />
<h4>Yetenek Düzeleme Sayfası</h4>
<br />
<br />
<div class="table table-bordered">
    <form method="post">
          @Html.Label("Açıklama")
          @Html.TextBoxFor(x=>x.Description,new{@class="form-control"})
         
          <br />

         <button class="btn btn-success"> Güncelle </button>

    </form>
</div>



