@model EntitiyLayer.Concrete.Talent
@{
    ViewData["Title"] = "AddTalent";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<br />
<h4>Yeni Yetenek Ekleme Sayfası</h4>
<br />
<br />
<div class="table table-bordered">
    <form method="post">
          @*@Html.Label("Yetenek ID")
          @Html.TextBoxFor(x=>x.ID,new {@class="form-control"})
          <br />*@
          @Html.Label("Yetenek")
          @Html.TextBoxFor(x=>x.Talents,new{@class="form-control"})
         
          <br />

         <button class="btn btn-info"> Kaydet </button>

    </form>
</div>

