@using EntitiyLayer.Concrete
@model List<Experience> 
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<br />
<br />
<h1>Deneyim Listesi</h1>

<table class="table table-bordered">
    <tr>
        <th>ID</th>
        <th>Başlık</th>
        <th>AltBaşlık</th>
        <th>Tarih</th>
        <th>Sil</th>
        <th>Düzenle</th>
        
    </tr>
    @foreach(var item in Model)
    {
        <tr>
            <td>@item.ID</td>
            <td>@item.Title</td>
            <td>@item.Subtitle</td>
            <td>@item.Date</td>
            <td><a href="/AExperience/DeleteExperience/@item.ID" class="btn btn-danger">Sil</a></td>
            <td><a href="/AExperience/GetExperience/@item.ID" class="btn btn-success">Düzenle</a></td>

            
        </tr>
    }
</table>
<a href="/AExperience/AddExperience" class=" btn btn-primary" >Yeni Deneyim Ekle</a>

